#banner{
    float: right;
    margin:-162px -2px 10px 10px;
}
#logo{
    border: 2px solid red;
    margin: 10px 950px  10px 10px;
   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c61a8;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(45, 19, 246);
  }
  
  .active {
    background-color: #04AA6D;
  }